<body>
    <h1>Contact us</h1>
    <form data-static-form-name="contact">
      <label>Email address <input type="email" name="email" /></label>
      <label>Message <textarea name="message"></textarea></label>
      <button type="Submit">
    </form>
  </body>